/* Initial style sheet */
body {
	background-color: grey;
}

img {
	display: block;
	height: 260px;
	width: 495px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

/*Start adding your CSS below!*/

div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    border-style: solid;
    border-width: 2px;
    background-color: #BCD2EE;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: Verdana;
    color: Green;
}

span {
    font-family: Verdana;
    font-size: 24px;
    color: red;
}
